---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
<script src="https://cdn.userway.org/widget.js" data-account="PWheC52pEa"></script>
<link rel="icon" href="/favicon.ico" />
		<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XFMW8LR39F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XFMW8LR39F');
</script>
		<meta charset="UTF-8" />
		<meta name="description" content="ElliNet13.com is a site made by ElliNet13." />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 255, 0, 0; /* Red color */
		--accent-light: 255, 204, 204; /* Light red color */
		--accent-dark: 139, 0, 0; /* Dark red color */
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #000000;
		background-size: 224px;
	}
	h1 {
	    background: url('https://dakg4cmpuclai.cloudfront.net/r3ewbr39b3vneosgfglyfzqhb/RWxsaU5ldDEzLmNvbQ%3D%3D/img.gif') !important;
	}

</style>
